.edu_container{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;

    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width: 760px) {
    .edu_container{
        display: flex;
        flex-direction: column;
    }
}