@font-face {
    font-family: "Cutive Mono";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/CutiveMono-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Cabin";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Cabin-VariableFont_wdth\,wght.ttf") format("truetype");
  }

.footer_container{
    height: 7vw;
    background-color: #537B5C;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2.5vw;
}

.footer_copyright{
    color: #FFFFFF;
    font-family: "Cabin", sans-serif;
    font-size: 1.5vw;
}

.footer_links{
    font-family: "Cutive Mono", monospace;
    display: block;
    list-style: none;
    text-align: center;
    margin-top: 2%;
    width: 100%;
}

.footer_link_item{
    margin-left: 1%;
    margin-right: 1%;
    color: #FFFFFF;
    font-size: 1.5vw;
    text-decoration: none;
}

.footer_link_item:hover {
    border-bottom: 1px solid #FFFFFF;
}