@font-face {
    font-family: "Cardo";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/static/fonts/Cardo-Regular.ttf") format("truetype");
  }



.intro_container{
    display: flex;
    background-color: #8CA990;
}

.intro_text{
    width: 50%;
    color: #ffffff;
    font-size:  1em;
    font-family: "Cardo", sans-serif;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
} 

.intro_image{
    width: 50%;
}