@font-face {
    font-family: "Cardo";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Cardo-Regular.ttf") format("truetype");
  }



.intro_container{
    display: flex;
    background-color: #8CA990;
}

.intro_text{
    width: 45%;
    color: #ffffff;
    font-size:  1em;
    font-family: "Cardo", sans-serif;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
} 

.intro_image{
    width: 55%;
}


  
@media (max-width: 760px) {
    .intro_container{
        flex-direction: column;
    }

    .intro_image{
        width:100%;
    }

    .intro_text{
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 80%;
    }
}