@font-face {
    font-family: "Cutive Mono";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/static/fonts/CutiveMono-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Cherish";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/static/fonts/Cherish-Regular.ttf") format("truetype");
  }

.container {
    max-width: 100%;
    height: 3.2rem;
    background-color: #537B5C;
    display: flex;
  }
  
.logo {
    display: flex;
    width: 10%;
    margin-right: 20%;
    margin-left: 3%;
    align-items: center;
    font-family: 'Cherish', cursive;
    font-size: large;
    color: #ffffff;
    text-decoration: none;
}

.nav-links {
    direction: rtl;
    display: flex;
    width: 65%;
    list-style: none;
    align-items: center;
    vertical-align: middle;
    padding-left: 20%;
}

.nav-link-item {
    padding-left: 10%;
}

.nav-link-text {
    color: #ffffff;
    font-family: 'Cutive Mono', monospace;
    font-size: 1rem;
    text-decoration: none;
}

.navLinkBut{
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.navLinkIcon{
  color: #ffffff;
  vertical-align: middle;
}

@media (min-width: 760px) {
  .navLinkIcon {
    display: none;
  }
}

@media (max-width: 760px) {
  .nav-link-item{
    display: none;
  }
  .nav-links{
    padding-left: 40%;
  }
}