  @font-face {
    font-family: "Cherish";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/static/fonts/Cherish-Regular.ttf") format("truetype");
  }

.container {
    max-width: 100%;
    height: 3.2rem;
    background-color: #537B5C;
    display: flex;
  }
  
.logo {
    display: flex;
    width: 10%;
    margin-right: 20%;
    margin-left: 3%;
    align-items: center;
    font-family: 'Cherish', cursive;
    font-size: large;
    color: #ffffff;
    text-decoration: none;
}

.navLinkBut{
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.navLinkIcon{
  color: #ffffff;
  vertical-align: middle;
}

.side_bar{
  display: none;
}

.main_bar{
  display: none;
  width: 70%;
}

.navCancelBut{
  background: transparent;
  border: none;
  color: #0E2310;
  cursor: pointer;
  margin-left: 48%;
}

@media (min-width: 760px) {
  .navLinkBut {
    display: none;
  }

  .main_bar{
    display: block;
  }
}

@media (max-width: 760px) {
  .container{
    padding-right: 3%;
  }

  .navLinkBut{
    margin-left: 60%;
  }
}